<form class="form outline">
    <h2>CONTACT US</h2>
    <p type="Name"><input placeholder="Write your name here.."></p>
    <p type="Email"><input placeholder="Let us know how to contact you back.."></p>
    <p type="Message"><input placeholder="What would you like to tell us.."></p>
    <button (click)= "message()">Send Message</button>
    <div>
      &nbsp;&nbsp;<fa-icon [icon]="faPhoneAlt"></fa-icon> &nbsp; 001 1023 567
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<fa-icon [icon]="faEnvelope"></fa-icon> &nbsp; officemart@gmail.com
    </div>
  </form>